{% extends 'base.html' %}

{% block content %}



<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's Build the future of drone collecting together!</h2>
            <h5>Create an amazing API tool for drone collecting developers.</h5>
            <div>
                <button class="btn btn-primary">View our Docs</button>
                <button class="btn btn-primary">Join our Slack</button>
            </div>
        </div>
        <!-- Header Image -->
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_server_status_5pbv.svg" alt="Hero Header" class="header-image">
        </div>
    </header>
    <!-- End of header section -->

    <!-- Start of Middle Section -->
    <section class = 'row'>
        <div class="col-12" id = "middle-text">
            <h2>Display Your Collection!</h2>
            <p>You can harness the power of an API to expand your collection!</p>
        </div>
    </section>
<!-- End of the Middle Section -->

<!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/api.png" alt="api-image" id="api-image">
            <h4>Dedicated API Routes</h4>
            <p>If you are a fan of using traditional API routes, we have those for you!</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/graphql.png" alt="graphql-image" id="graphql-image">
            <h4>GraphQL API Route</h4>
            <p>If you want ALL data from one endpoint, we have that too!</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/db.png" alt="database-image" id="database-image">
            <h4>Backed by a PostgresSQL Database</h4>
            <p>All data will be persisted inside of a secure Postgres Database</p>
        </div>
    </section>
<!-- End of COllection Features -->

<!-- Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_electric_car_b7hl.png" alt="Drone Image" id="Drone-image">
        </div>

        <div class="col-12 col-md-6">
            <h4>Talk with like minded car collectors</h4>
            <p>Talk with other devs around the world and collab on projects with your data.
                 Join our slack channel and giv a star to the project of github</p>
        </div>
        <div class="mt-1 ps-5">
            <button class="btn btn-primary px-3">View on Github</button>
            <button class="btn btn-primary px-3">Join our Slack</button>
        </div>
    </section>
    <!-- End of Community Section -->

    <!-- Start of Footer -->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../static/images/Coding Drones Logo.png" alt="Coding Drones Logo" id="footer-logo">
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Cars?</p>
                <p>The Coding Cars Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Cars?</p>
                <p>The Coding Cars Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Cars?</p>
                <p>The Coding Cars Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Cars?</p>
                <p>The Coding Cars Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Cars?</p>
                <p>The Coding Cars Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>


</div>

{% endblock content %}